* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 222, 222);
  background-image: url(/images/pexels-dana-tentis-370799.jpg);
}

main {
  display: flex;
}

h1 {
  color: white;
  font-size: 50px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: xx-large;
}

hr {
  margin-bottom: 30px;
  margin-left: 22px;
  width: 117%;
}

span {
  display: flex;
  justify-items: center;
}

/* para arrumar a imagem do escudo trybewarts */
.image {
  display: flex;
  margin: auto;
}

.email {
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  width: 200px;
  padding-left: 10px;
}

.senha {
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  width: 150px;
  padding-left: 10px;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

.trybewarts-login {
  display: flex;
  height: 40px;
  margin-right: 30px;
}

#btn-login {
  border-radius: 10px;
  border: none;
  /* margin-right: 10px; */
  width: 180px;
  background-color: rgb(108, 18, 168);
  color: white;
  font-size: small;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

#input-name {
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 50%;
  padding-left: 10px;
}

#input-lastname {
  width: 45%;
  height: 40px;
  margin-left: 0;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

#input-email {
  width: 45%;
  height: 40px;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

#house {
  width: 45%;
  height: 40px;
  margin-top: 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: auto;
  display: flex;
}

.inputs > div {
  align-self: center;
  width: 100%;
}

#family-select {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.family-selector {
  display: flex;
  width: 330px;
  flex-wrap: wrap;
  margin: 10px;
}

.family-selector div {
  width: 300px;
  margin-top: 10px;
}

.content-selector {
  display: flex;
  width: 330px;
  flex-wrap: wrap;
}

.content-selector div {
  width: 100px;
}

.satisfaction-level {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

/* Coloca contador dentro do textarea */
.textarea-section {
  display: flex;
  margin-left: 20px;
  position: relative;
}

#textarea {
  margin-top: 20px;
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

/* Coloca contador dentro do textarea */
#counter {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: rgb(8, 144, 115);
}

#submit-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(108, 18, 168);
  color: white;
  font-size: x-large;
  width: 800px;
  margin-left: 20px;
  margin-top: 20px;
}

.text-checkbox {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  align-items: center;
}

.text-checkbox input {
  margin-left: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 15px;
  background-color: rgb(61, 57, 57);
  color: white;
}
